.button {
	
	-fx-background-color: blue;
	-fx-background-radius: 8px;
	-fx-border-color: transparent;
	-fx-border-radius: 8px;
	-fx-text-fill: white;
	-fx-font-family: Helvetica;
	-fx-font-size: 15px;
	
}