.dashboard {
	-fx-background-color: -fx-primary-dark;
}


.dashboard-options .label {
	-fx-font-family: "Roboto Medium";
	-fx-font-size: 16px;
	-fx-text-fill: -fx-text-light;	
}

.dashboard-options .label > .icon{
	-fx-fill: -fx-text-light;
	-fx-font-size: 16px;
}


.dashboard-options:hover {
	-fx-background-color: #032C5D;
}

.dashboard-options:hover .label{
	-fx-text-fill: white;
}

.dashboard-options:hover .label > .icon{
	-fx-fill: white;
}


.dashboard-options:pressed {
	-fx-background-color:  -fx-primary-light;
}

.dashboard-options:pressed .label{
	-fx-text-fill: white;

}

.dashboard-options:pressed .label > .icon{
	-fx-fill: white;	-fx-font-size: 18px;
}